@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-Regular.eot');
    src: url('LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
        url('LibreFranklin-Regular.woff2') format('woff2'),
        url('LibreFranklin-Regular.ttf') format('truetype'),
        url('LibreFranklin-Regular.svg#LibreFranklin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-Bold.eot');
    src: url('LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
        url('LibreFranklin-Bold.woff2') format('woff2'),
        url('LibreFranklin-Bold.ttf') format('truetype'),
        url('LibreFranklin-Bold.svg#LibreFranklin-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-Medium.eot');
    src: url('LibreFranklin-Medium.eot?#iefix') format('embedded-opentype'),
        url('LibreFranklin-Medium.woff2') format('woff2'),
        url('LibreFranklin-Medium.ttf') format('truetype'),
        url('LibreFranklin-Medium.svg#LibreFranklin-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('LibreFranklin-Italic.eot');
    src: url('LibreFranklin-Italic.eot?#iefix') format('embedded-opentype'),
        url('LibreFranklin-Italic.woff2') format('woff2'),
        url('LibreFranklin-Italic.ttf') format('truetype'),
        url('LibreFranklin-Italic.svg#LibreFranklin-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

